/*================================ flex classes ===========================================*/
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-jc-end {
    justify-content: flex-end;
}

.align-self-start {
    align-self: flex-start;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.margin-0 {
    margin: 0;
}

/*========================================== animations =====================================*/
.animated-icon {
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 2px 3px 9px -6px #00000087;
    border-radius: 10px;
    animation: upDown;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

#home-section-right > div > div:nth-child(3) {
    left: -37px;
    bottom: 0;
    top: 50px;
}

#home-section-right > div > div:nth-child(4) {
    top: -40px;
    left: -40px;
}

#home-section-right > div > div:nth-child(5) {
    left: 70px;
    top: 110px;
    width: 50px;
    height: 50px;
}

#home-section-right > div > div:nth-child(6) {
    bottom: -10px;
    right: 15px;
}

#home-section-right > div > div:last-child {
    left: -65px;
    bottom: -25px;
    z-index: -1;
}

.s-icon{
    width: 40px;
}

.l-icon{
    width: 50px;
}

/*================================ body ===========================================*/
body {
    background-color: #e6ecef;
    font-family: 'Roboto', sans-serif;
}

/*================================ home ===========================================*/
#home-section {
    width: 100%;
    height: max-content;
}

#home-section-left {
    width: 50%;
}

#home-section-left > h1 {
    font-size: 84px;
}

#home-section-left > h3 {
    font-size: 28px;
}

#home-section-right {
    width: 460px;
    height: 540px;
    margin-top: 20px;
}

#home-section-right > div {
    height: 475px;
    width: 370px;
    align-self: flex-end;
    align-items: flex-end;
    background-color: #007689;
    border-top-right-radius: 159px;
    border-top-left-radius: 425px;
    border-bottom-left-radius: 127px;
}

#front-img {
    display: none;
}
