html {
    scroll-behavior: smooth;
}

/*================================ flex classes ===========================================*/
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-jc-end {
    justify-content: flex-end;
}

.align-self-start {
    align-self: flex-start;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.margin-0 {
    margin: 0;
}

/*========================================== animations =====================================*/
.animated-icon {
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 2px 3px 9px -6px #00000087;
    border-radius: 10px;
    animation: upDown 3s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

#home-section-right > div {
    animation: changeBorderRadius 10s ease-out infinite;
}

@keyframes changeBorderRadius {
    0% {
        border-top-right-radius: 159px;
        border-top-left-radius: 425px;
        border-bottom-left-radius: 127px;
    }
    33% {
        border-top-right-radius: 500px;
        border-top-left-radius: 311px;
        border-bottom-left-radius: 500px;
        /*background-color: #38c0ff;*/
    }
    66% {
        border-top-right-radius: 1000px;
        border-top-left-radius: 500px;
        border-bottom-left-radius: 300px;
        background-color: #1d232f;
    }
    100% {
        border-top-right-radius: 159px;
        border-top-left-radius: 425px;
        border-bottom-left-radius: 127px;
    }
}

#home-section-right > div > img {
    width: 395px;
}

#home-section-right > div > div:nth-child(3) {
    left: -37px;
    bottom: 0;
    top: 50px;
}

#home-section-right > div > div:nth-child(4) {
    top: -40px;
    left: -40px;
}

#home-section-right > div > div:nth-child(5) {
    left: 250px;
    top: 145px;
    width: 50px;
    height: 50px;
}

#home-section-right > div > div:nth-child(6) {
    bottom: -10px;
    right: 15px;
}

#home-section-right > div > div:last-child {
    left: -65px;
    bottom: -25px;
    z-index: -1;
}

.s-icon {
    width: 40px;
}

.l-icon {
    width: 50px;
}

/*================================ body ===========================================*/
body {
    background-color: #e6ecef;
    font-family: 'Roboto', sans-serif;
}

/*================================ header ===========================================*/
#header {
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 50;
    transition: background-color 0.3s ease;
}

#header.scrolled {
    background-color: white;
    box-shadow: 0 0 7px -4px black;
}

menu > a {
    text-decoration: none;
}

menu > a > li {
    list-style: none;
    display: block;
    margin: 0 20px;
    color: black;
}

/*================================ home ===========================================*/
#home-section {
    position: relative;
    top: 60px;
    width: 100%;
    height: max-content;
}

#bubble-img-1 {
    top: -40px;
    left: -40px;
}

#home-section-left {
    width: 50%;
}

#home-section-left > h1 {
    font-size: 94px;
}

#home-section-left > h3 {
    font-size: 38px;
}

#home-section-left > a {
    width: 100%;
    justify-content: start;
    text-decoration: none
}

#download-cv-btn {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 15px;
    align-self: flex-start;
    box-shadow: -2px 4px 12px -6px #000000;
    background-color: #0083a1;
    color: white;
}

#home-section-right {
    width: 460px;
    height: 540px;
    margin-top: 20px;
}

#home-section-right > div {
    height: 475px;
    width: 370px;
    align-self: flex-end;
    align-items: flex-end;
    background-color: #007689;
    border-top-right-radius: 159px;
    border-top-left-radius: 425px;
    border-bottom-left-radius: 127px;
}

#front-img {
    display: none;
}

/*======================================== about section =======================================================*/
#about-section {
    margin-top: 100px;
}

#about-section > div {
    justify-content: flex-start;
    width: 85%;
}

#about-section-side-img {
    width: 300px;
}

#about-section-bubble-img {
    position: absolute;
    left: -45px;
    bottom: -40px;
    z-index: -1;
}

#experience, #complete-projects {
    width: 200px;
    height: 100px;
    gap: 20px;
    padding-left: 20px;
    box-shadow: 25px 0 65px rgb(0 0 0 / 22%);
}

#experience {
    top: -45px;
    right: -100px;
}

#complete-projects {
    left: -60px;
    bottom: 45px;
}

#experience > h1, #complete-projects > h1 {
    font-size: 50px;
}

#experience > h2, #complete-projects > h2 {
    text-align: start;
    font-size: 18px;
}

#about-section > div > article {
    flex-grow: 1;
    /*align-self: flex-start;*/
}

#about-me {
    width: 700px;
}

#about-me > h1 {
    margin-top: 0;
}

/*================================================= works section ===============================================================*/
#works-section {
    margin-top: 35px;
}

#works-section > section {
    width: 90%;
    gap: 20px;
}

.project-left-side-img,
.project-right-side-img {
    box-shadow: -4px 4px 10px -6px rgb(0 0 0 / 22%);
    width: 950px;
    height: 400px;
    background: #ffffff;
    border-radius: 15px;
}

.project-left-side-img > img,
.project-right-side-img > img {
    width: 475px;
    border-radius: 15px;
}

.project-left-side-img > div > div,
.project-right-side-img > div > div {
    align-self: flex-start;
}

.project-right-side-img {
    align-self: end;
    justify-content: end;
}

.project-left-side-img {
    align-self: start;
    justify-content: flex-start;
    gap: 7px;
}

.project-description {
    width: 460px;
}

.project-description > h3, .project-description > p {
    align-self: flex-start;
}

.project-description > div > h4 {
    margin: 0;
}

.project-description > div > p {
    margin-top: 10px;
}

.project-description > div:last-child {
    align-self: flex-start;
    gap: 10px;
}

.project-description > div:last-child > a {
    text-decoration: none;
}

.project-description > div:last-child > a > div > i {
    font-size: 22px;
}

.project-links {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    /*background-color: #0083a1;*/
    color: #0083a1;
    border: 1px solid #0083a1;
}

#show-less, #show-all {
    width: 100%;
    gap: 20px;
}

#show-all {
    display: none;
}

#show-less-btn {
    display: none;
}

#show-all-btn, #show-less-btn {
    margin: 25px;
    border: none;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    background-color: #0083a1;
    color: white;
}

.project-right-side-img {
    flex-direction: row-reverse;
}

/*=================================== service section ====================================================*/
#services-section > section {
    width: 80%;
    gap: 20px;
}
#services-section>p{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}
.service {
    width: 300px;
    height: 290px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 9px -6px #798b8d;
    /*border: 1px solid #9E9E9E;*/
    transition: box-shadow 1s ease;
}

.service:hover {
    box-shadow: 0 0 15px #CAD3D5;
}

.service > div {
    margin: 0 20px;
}

.service > div > p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #798b8d;
}

.service > div > h3 {
    margin-top: 5px;
}

.service-icon {
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

/*======================================= footer ==========================================*/
#footer {
    margin-top: 30px;
    height: 60px;
    background: #00171cbd;
    color: white;
}

#footer > small {
    font-size: 14px;
}

